@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #1c1917;
  --rosewood: #a11026;
  --rosewood-light: #c91d37;
  --rosewood-dark: #74101f;
  --warm-gold: #7f807f;
  --warm-cream: #ffffff;
  --warm-gray: #78716c;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-rosewood: var(--rosewood);
  --color-rosewood-light: var(--rosewood-light);
  --color-rosewood-dark: var(--rosewood-dark);
  --color-warm-gold: var(--warm-gold);
  --color-warm-cream: var(--warm-cream);
  --color-warm-gray: var(--warm-gray);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-sans), Arial, Helvetica, sans-serif;
}

html {
  scroll-behavior: smooth;
}
